#featured-work{
    @media(max-width:$screen-md){
        margin-bottom:60px;
    }
    .section-heading{
        h4{
            @media(max-width:$screen-md){
                text-align:center;
                width:100%;
            }
            
        }
    }
    .container-fluid{
        @media(min-width:$screen-md){
            padding-top:120px;
            padding-bottom:120px;
        }
        @media(max-width:$screen-md){
            padding-left:0;
            padding-right:0;
        }
    }
    .col-md{
        @media(min-width:$screen-md){
            padding-left:25px;
            padding-right:25px;
        }
        @media(max-width:$screen-md){
            margin-bottom:25px;
            width:100%;
        }
        &:nth-child(2){
            @media(min-width:$screen-md){
                margin-top:-70px;
            }
        }
        &:nth-child(3){
            @media(min-width:$screen-md){
                margin-top:-140px;
            }
        }
    }
  
      
    figure {
        position: relative;
        overflow: hidden;
        margin: 0px;
        min-width: 320px;
        width: 100%;
        background: #000;
        text-align: center;
        cursor: pointer;
    
        img {
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 1;
        @include transition(all .2s);
        }
    
        figcaption {
        padding: 2em;
        color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    
        &::before, &::after {
            pointer-events: none;
        }
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    
        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            text-indent: 200%;
            white-space: nowrap;
            font-size: 0;
            opacity: 0;
        }
        }
    
        h2 {
            margin: 0;
            font-size:2rem;
            padding:0 20px;
        }
    
       
        }
    }
    
    figure {
    figcaption::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(top, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
        background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 0%, rgba(72, 76, 97, 0.8) 75%);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
    
    h2 {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        color: #FFF;
        -webkit-transition: -webkit-transform 0.35s, color 0.35s;
        transition: transform 0.35s, color 0.35s;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
        opacity:0;
    }
    
    figcaption::before {
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    

    &:hover {
        h2 {
        color: #fff;
        -webkit-transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
        transform: translate3d(0, -50%, 0) translate3d(0, -40px, 0);
        opacity:1;
        }
        img{
            opacity:0.1;
            transform:scale(1.2, 1.2);
        }
    
    }
  
}