#main-footer{
    padding:90px 0;
    background:#222;
    p{
        color:#666;
    }
    a{
        color:#FFF;
        text-decoration: none;
    }
    .main-footer__brand{
        a{
            display:block;
            max-width:300px;
        }
        
        .a, .b, .c, .d{
            fill:#FFF;
        }
    }
    .main-footer__info{
        padding:0 0 5px 80px;
        margin:0;
        @media(max-width:$screen-md){
            margin-bottom:15px;
        }
        i{
            margin-right:8px;
            
            &:nth-child(2){
                margin-left:15px;
            }
        }
    }
    .row{ 
        .col-md:nth-child(2){
            display:flex;
            justify-content: end;
            align-items: center;
            .main-footer__info{
                span{
                    padding-top:-10px;
                    margin-right:15px;
                }
                a{
                    font-size:30px;
                    &:first-child{
                        margin-left:15px;
                    }
                }
            }
        }
    }
}